#!/usr/bin/perl -w
#!/usr/bin/perl -d:ptkdb
#
#
#

use strict;


# $Format: "my $package_name = \"${package}\";"$
my $package_name = "neurospaces_harness_template";

# $Format: "my $package_version = \"${label}\";"$
my $package_version = "0";


my $config
    = {
       core_directory => './',
       description => 'Example tests to be used as templates for test development.',
       environment_settings => {
				ANY_ENVIRONMENT_VARIABLE => 'any value',
			       },
       html_output_directory => "./html_output",
       package => {
		   name => $package_name,
		   version => $package_version,
		  }
      };


return $config;


