.changes$
.dsc$
.pkg$
Makefile$
Makefile\.in$
\.deb$
\.log$
^aclocal\.m4$
^config.log$
^config.status$
^configure$
^__package_name__-.*tar.gz$
^installed
^installer-.*.tar.gz$
^missing$
^pkg$
^tmp$
_BUILD$
