#!/usr/bin/perl -w

my $config
    = {
       files => [
		 './bin/neurospaces_build',
		 './bin/neurospaces_versions',
		 './configure.ac',
		 './python/neurospaces/__cbi__.py',
		 './install/rpm/developer.spec',
		 './tests.config',
		 './tests/tests.config',
		],
       labels => {
		  email => 'hugo.cornelis@gmail.com',
		  label => 'alpha',
		  major => '0',
		  minor => '0',
		  micro => '0',
		  monotone_id => `mtn automate get_current_revision_id | perl -pe 's/\n//g'`,
		  package => 'developer',
		 },
      };

return $config;

