#!/usr/bin/perl -w

my $config
    = {
       files => [
		 './bin/neurospaces_build',
		 './configure.ac',
		 './tests.config',
		 './tests/tests.config',
		],
       labels => {
		  email => '',
		  label => '',
		  major => '',
		  micro => '',
		  minor => '',
		  monotone_id => `mtn automate get_current_revision_id`,
		  package => '',
		 },
      };

return $config;

