#!/usr/bin/perl -w
#!/usr/bin/perl -d:ptkdb
#
#
#

use strict;


# $Format: "my $package_name = \"${package}\";"$
my $package_name = "developer";

# $Format: "my $package_version = \"${label}\";"$
my $package_version = "a3fff5b1b4e51a8fad60ad01dc1523e9f76c7e52.0";


my $config
    = {
       core_directory => '../',
       description => 'Configure the tester when run from this directory',
       outputs_dir => './html',
       package => {
		   name => $package_name,
		   version => $package_version,
		  },
       tests_directory => './specifications',
      };


return $config;


